/* nomed */
.logo-navbar {
	max-height: 16px;
}

#nomed-popup {
	padding: 1em;
	text-align: center;
}

body {
	font-family: 'Lato', sans-serif;
}

#lol-nawigacja {
	background-color: #222222;
	color: white;
}

h1 {
	font-family: 'Quicksand', sans-serif;
}

h2 {
	font-family: 'Quicksand', sans-serif;
}

h3 {
	font-family: 'Quicksand', sans-serif;
}

#up {
	background-image: url("../img/old.jpg");
	background-size: cover;
	color: white;
}

.section {
	padding: 6em;
}

.middle-of-middle {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.middle-of-middle-symbol {
	max-height: 40vh;
}