/* to be removed after WIP stage */
#WIPDAMNIT {
	background-color: white;
	padding: 2em;
	margin: 4%;
}


/* nomed */
#nomed-logo-navbar {
	max-height: 16px;
}

#nomed-popup {
	padding: 1em;
	text-align: center;
}




body {
	background-image: url("../bg.png") !important;
}

#lol-nawigacja {
	background-color: #222222;
	color: white;
}

.navbar-brand a {
	color: white;
}

.white-text-link-helper {
	color: white;
}

.bannerphoto {
	position: relative;
}

#adolfhello h2 {
	position: absolute; 
	top: 200px; 
	left: 0; 
	width: 100%; 
}

#bigicon {
	width: 20vh;
	height: 20vh;
}

#top {
	display: flex;
	justify-content: center;
}

.kappacenter {
	display: flex;
	align-items: center;
}