#topbar {
  padding: 8%;
  text-align: center;
  background: "bg.png";
}
.centered {
  text-align: center;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 25px;
  font-weight: normal;
}
